/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.nav-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* Center */
.nav-center a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-center a:hover {
  color: #ffdd57;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-right button{
    margin: 5px;
    border-radius: 5px;
}
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    background-image: url("./city.jpeg");
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  /* Content */
.content {
    text-align: center;
    margin-top: 20%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }